<!DOCTYPE html>
<html>

<head>
    <title>Reharmonizer</title>
    <script src="{{entry_js}}"></script>
    <link rel="stylesheet" href="{{entry_css}}">
</head>

<body lang="zh-tw">
    <div id="header_container">
        <div style="padding: 10px; margin: 10px;">
            <h1 id="main_title">Reharmon!zer</h1>
        </div>
        <div id="header_empty" style="flex-grow: 1;"></div>
        <div style="padding: 10px; margin: 10px;">
            <a href="https://github.com/ChiuYeeJay/Reharmonizer_web" id="github_link" target="_blank">Github</a>
        </div>
        <div style="padding: 10px; margin: 10px;">
            <a href="/en" id="lang_link" target="_self">English</a>
        </div>
    </div>
    <div id="main_container">
        <div id="left_blank" style="flex-grow: 1;"></div>
        <div id="middle_content">
            <div>
                <h2 style="margin-top: 0%;">將任何音檔轉換成鋼琴旋律和和聲！</h2>
            </div>
            <div id="description">
                <p>Reharmonizer使你可以上傳任意音檔，系統將會為他量身打造鋼琴的旋律與和聲</p>
                <p>(音檔時長最長為三分鐘，窩們沒有錢去升級伺服器)</p>
            </div>
            <div id="audio_form_parent">
                <form id="audio_form" method="post" action="/upload" enctype="multipart/form-data">
                    <div id="drag_and_drop" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragleave="dragleave_handler(event);">
                        <label for="audio_upload" style="align-self: center;">
                            <img id="upload_icon" src="{{upload_svg}}" style="width:15vh; height:15vh;">
                        </label>
                        <label for="audio_upload" style="align-self: center;">上傳音檔</label>
                        <input name="original_audio" id="audio_upload" type="file" accept="audio/*" formenctype="multipart/form-data"
                        oninput="on_audio_chosen();return true;" required style="display: none;" >
                    </div>
                </form>
            </div>
            <div id="after_uplaod" style="display: none; flex-direction: column; align-items: center; flex-grow: 1;">
                <img id="audio_icon" src="{{audio_svg}}" style="width:15vh; height:15vh;">
                <p id="uplaoded_audio_name">sound.wav</p>
            </div>
            <div id="prcessing_progress" width="100%" style="flex-grow: 1;">
                <div id="progress_0">
                    <span class="progress_span"></span>
                    <p style="color: white;">上傳</p>
                    <span class="progress_span"></span>
                </div>
                <img src="{{arrowright_svg}}">
                <div id="progress_1">
                    <span class="progress_span"></span>
                    <p style="color: white;">處理</p>
                    <span class="progress_span"></span>
                </div>
                <img src="{{arrowright_svg}}">
                <div id="progress_2">
                    <span class="progress_span"></span>
                    <p style="color: white;">重配和聲</p>
                    <span class="progress_span"></span>
                </div>
                <img src="{{arrowright_svg}}">
                <div id="progress_3">
                    <span class="progress_span"></span>
                    <p style="color: white;">完成！</p>
                    <span class="progress_span"></span>
                </div>
            </div>
            <p id="upload_status"></p>
        </div>
        <div id="right_blank" style="flex-grow: 1;"></div>
    </div>
</body>

</html>