<!DOCTYPE html>
<html>
<head>
<title>Reharmonizer</title>
<script src="{{entry_js_url}}"></script>
</head>
<body lang="en">

<h1>Reharmon!zer</h1>
<div>
    <p>You can upload any random audio, the system will generate piano melody and chords for it!</p>
    <p>(The maximum length of audio file is three minuites.)</p>
</div>
<form id="audio_form" method="post" action="/upload" enctype="multipart/form-data">
    <label for="audio_upload">Upload an audio file:</label>
    <input name="original_audio" id="audio_upload" type="file" accept="audio/*"
           formenctype="multipart/form-data" oninput="on_audio_chosen();return true;" required>
    <input id="submit_btn" type="button" value="upload" onclick="submit_audio();return true;" disabled>
</form>
<p id="upload_status"></p>

<a href="/">Chinese</a>
</body>
</html> 