<!DOCTYPE html>
<html>

<head>
    <title>Reharmonizer</title>
    <script src="{{second_js}}"></script>
    <link rel="stylesheet" href="{{second_css}}">
</head>

<body lang="en">
    <div id="header_container">
        <div style="padding: 10px; margin: 10px;">
            <h1 id="main_title">Reharmon!zer</h1>
        </div>
        <div id="header_empty" style="flex-grow: 1;"></div>
        <div style="padding: 10px; margin: 10px;">
            <a href="https://github.com/ChiuYeeJay/Reharmonizer_web" id="github_link" target="_blank">Github</a>
        </div>
        <div style="padding: 10px; margin: 10px;">
            <a href="/en" id="lang_link" target="_self">Chinese</a>
        </div>
    </div>

    <div id="main_container">
        <p id="description" style="margin: 0%;">The audio has been processed. You can preview and download the results, adjust arguments, or harmonize it again.</p>
        <div id="middle_container" style="width: 100%; height: 100%; display: flex; flex-direction: row;">
            <div id="left_part" style="width: 50%;">
                <div id="audio_preview_zone">
                    <h4>Preview: </h4>
                    <img id="music_note_img" src="{{music_notes_svg}}" style="width: 40%; height: 40%;">
                    <audio id="mixed_audio_ctrlr" controls style="width: 100%; margin-bottom: 2%;"></audio>
                    <div id="audio_waiting_hint" hidden>
                        <p>waiting...</p>
                    </div>
                    <div id="checkboxes_and_btn" style="display: flex;">
                        <button id="original_audio_checkbox" class="customed_checkbox" onclick="checkbox_clicked(event, 0);">
                            <img src="{{check_svg}}" class="check_icon">
                            <img src="{{minus_svg}}" class="minus_icon" hidden>
                            <label class="checkbox_label">Original</label>
                        </button>
                        <button id="melody_audio_checkbox" class="customed_checkbox" onclick="checkbox_clicked(event, 1);">
                            <img src="{{check_svg}}" class="check_icon">
                            <img src="{{minus_svg}}" class="minus_icon" hidden>
                            <label class="checkbox_label">Melody</label>
                        </button>
                        <button id="harmony_audio_checkbox" class="customed_checkbox" onclick="checkbox_clicked(event, 2);">
                            <img src="{{check_svg}}" class="check_icon">
                            <img src="{{minus_svg}}" class="minus_icon" hidden>
                            <label class="checkbox_label">Harmony</label>
                        </button>
                        <button id="get_mixed_audio_btn" style="width: 26%;">
                            <img src="{{lightning_svg}}" class="checkbox_icon">
                            <label>Generate</label>
                        </button>
                    </div>
                </div>
        
                <div id="download_file_zone">
                    <a id="dl_mixed_audio_link" download="mixed_audio.wav">
                        <button id="dl_mixed_audio_btn" class="download_button">
                            <img src="{{download_svg}}">
                            <label>Audio Preview</label>
                        </button>
                    </a>
                    <a id="melody_midi_dl_link" download="melody.mid">
                        <button id="melody_midi_dlbtn" class="download_button">
                            <img src="{{download_svg}}">
                            <label>Melody MIDI</label>
                        </button>
                    </a>
                    <a id="harmony_midi_dl_link" download="harmony.mid">
                        <button id="harmony_midi_dlbtn" class="download_button">
                            <img src="{{download_svg}}">
                            <label>Harmony MIDI</label>
                        </button>
                    </a>
                </div>
            </div>
            <div id="right_part" style="width: 50%;">
                <div id="chord_list_zone">
                    <h4>Chords</h4>
                    <div id="chord_list_div">
                        <p id="chord_list" style="color: white; margin: 0;">
                            waiting...
                        </p>
                    </div>
                </div>
                <div id="function_buttons_zone">
                    <button id="back_last_page_btn" class="function_button">
                        <img src="{{circle_arrow_left_svg}}">
                        <label>Last Page</label>
                    </button>
                    <button id="harmonization_arg_inputs_switch" class="function_button" onclick="show_arg_panel();">
                        <img src="{{sliders_alt_svg}}">
                        <label>Show Args</label>
                    </button>
                    <button id="regenerate_harmony" class="function_button">
                        <img src="{{light_bulb_svg}}">
                        <label>Regenerate</label>
                    </button>
                </div>
            </div>
        </div>
    <div id="args_panel" hidden>
        <div id="args_container">
            <h2 style="margin: 10px;">Arguments</h2>
            <form id="harmonization_arg_inputs_form" onreset="refresh_arg_value_display()">
                <fieldset id="chord_tendency_zone" style="flex-grow: 1; overflow-y: scroll;">
                    <legend>Chord Tendency</legend>
                    <label for="arg_chord_trend_maj">Major Chord: </label>
                    <input type="range" id="arg_chord_trend_maj" name="arg_chord_trend_maj"
                        oninput="display_value_of_range('arg_chord_trend_maj')" min="0" max="2" step="0.01" value="1.5">
                    <label for="arg_chord_trend_maj" id="arg_chord_trend_maj_val">1.5</label>
                    <br>
    
                    <label for="arg_chord_trend_min">Minor Chord: </label>
                    <input type="range" id="arg_chord_trend_min" name="arg_chord_trend_min"
                        oninput="display_value_of_range('arg_chord_trend_min')" min="0" max="2" step="0.01" value="1.25">
                    <label for="arg_chord_trend_min" id="arg_chord_trend_min_val">1.25</label>
                    <br>
    
                    <label for="arg_chord_trend_dom">Dominant Seventh: </label>
                    <input type="range" id="arg_chord_trend_dom" name="arg_chord_trend_dom"
                        oninput="display_value_of_range('arg_chord_trend_dom')" min="0" max="2" step="0.01" value="1">
                    <label for="arg_chord_trend_dom" id="arg_chord_trend_dom_val">1</label>
                    <br>
    
                    <label for="arg_chord_trend_domsus4">Dominant Sus4: </label>
                    <input type="range" id="arg_chord_trend_domsus4" name="arg_chord_trend_domsus4"
                        oninput="display_value_of_range('arg_chord_trend_domsus4')" min="0" max="2" step="0.01" value="1">
                    <label for="arg_chord_trend_domsus4" id="arg_chord_trend_domsus4_val">1</label>
                    <br>
    
                    <label for="arg_chord_trend_dim">Diminished Seventh: </label>
                    <input type="range" id="arg_chord_trend_dim" name="arg_chord_trend_dim"
                        oninput="display_value_of_range('arg_chord_trend_dim')" min="0" max="2" step="0.01" value="0.75">
                    <label for="arg_chord_trend_dim" id="arg_chord_trend_dim_val">0.75</label>
                    <br>
    
                    <label for="arg_chord_trend_hdim">Half-Diminished Seventh: </label>
                    <input type="range" id="arg_chord_trend_hdim" name="arg_chord_trend_hdim"
                        oninput="display_value_of_range('arg_chord_trend_hdim')" min="0" max="2" step="0.01" value="0.75">
                    <label for="arg_chord_trend_hdim" id="arg_chord_trend_hdim_val">0.75</label>
                    <br>
    
                    <label for="arg_chord_trend_mM">Minor Major Seventh: </label>
                    <input type="range" id="arg_chord_trend_mM" name="arg_chord_trend_mM"
                        oninput="display_value_of_range('arg_chord_trend_mM')" min="0" max="2" step="0.01" value="0.75">
                    <label for="arg_chord_trend_mM" id="arg_chord_trend_mM_val">0.75</label>
                    <br>
    
                    <label for="arg_chord_trend_aug+7">Augmented Major Seventh: </label>
                    <input type="range" id="arg_chord_trend_aug+7" name="arg_chord_trend_aug+7"
                        oninput="display_value_of_range('arg_chord_trend_aug+7')" min="0" max="2" step="0.01" value="0.75">
                    <label for="arg_chord_trend_aug+7" id="arg_chord_trend_aug+7_val">0.75</label>
                    <br>
    
                    <label for="arg_chord_trend_aug7">Augmented Seventh: </label>
                    <input type="range" id="arg_chord_trend_aug7" name="arg_chord_trend_aug7"
                        oninput="display_value_of_range('arg_chord_trend_aug7')" min="0" max="2" step="0.01" value="0.75">
                    <label for="arg_chord_trend_aug7" id="arg_chord_trend_aug7_val">0.75</label>
                </fieldset>
    
                <fieldset id="other_args_zone" style="flex-grow: 1; overflow-y: scroll;">
                    <legend>Other Arguments</legend>
                    <label for="arg_octave">Range: </label>
                    <input type="range" id="arg_octave" name="arg_octave"
                        oninput="display_value_of_range('arg_octave')" min="1" max="7" step="1" value="4">
                    <label for="arg_octave" id="arg_octave_val">4</label>
                    <br>
        
                    <label for="arg_selection_range">Randomness: </label>
                    <input type="range" id="arg_selection_range" name="arg_selection_range"
                        oninput="display_value_of_range('arg_selection_range')" min="1" max="20" step="1" value="5">
                    <label for="arg_selection_range" id="arg_selection_range_val">5</label>
                    <br>
        
                    <label for="arg_antidirection">Opposite Direction Tendency: </label>
                    <input type="range" id="arg_antidirection" name="arg_antidirection"
                        oninput="display_value_of_range('arg_antidirection')" min="0" max="5" step="0.1" value="2">
                    <label for="arg_antidirection" id="arg_antidirection_val">2</label>
                    <br>
        
                    <label for="arg_fifth_circle">Fifth Circle Tendency: </label>
                    <input type="range" id="arg_fifth_circle" name="arg_fifth_circle"
                        oninput="display_value_of_range('arg_fifth_circle')" min="0" max="4" step="1" value="2">
                    <label for="arg_fifth_circle" id="arg_fifth_circle_val">2</label>
                    <br>
        
                    <label for="arg_voicing_openclose">Open/Close Voicing Stability: </label>
                    <input type="range" id="arg_voicing_openclose" name="arg_voicing_openclose"
                        oninput="display_value_of_range('arg_voicing_openclose')" min="0" max="4" step="1" value="2">
                    <label for="arg_voicing_openclose" id="arg_voicing_openclose_val">2</label>
                    <br>
        
                    <label for="arg_split_time">Blank Duration for Chord Change Threshold: </label>
                    <input type="range" id="arg_split_time" name="arg_split_time"
                        oninput="display_value_of_range('arg_split_time', 's')" min="0" max="1" step="0.01" value="0.2">
                    <label for="arg_split_time" id="arg_split_time_val">0.2s</label>
                    <br>
        
                    <label for="arg_sustain_time">Maximum Chord Duration: </label>
                    <input type="range" id="arg_sustain_time" name="arg_sustain_time"
                        oninput="display_value_of_range('arg_sustain_time', 's')" min="0" max="10" step="0.01" value="2.4">
                    <label for="arg_sustain_time" id="arg_sustain_time_val">2.4s</label>
                    <br>
        
                    <label for="arg_midi_velocity">Harmony Part Notes Velocity: </label>
                    <input type="range" id="arg_midi_velocity" name="arg_midi_velocity"
                        oninput="display_value_of_range('arg_midi_velocity')" min="1" max="127" step="1" value="100">
                    <label for="arg_midi_velocity" id="arg_midi_velocity_val">100</label>
                    <br>
                </fieldset>
            </form>
            <div id="panel_button_zone" style="padding: 2.5%; width: 95%; display: flex; justify-content: center;">
                <button id="close_panel_button"  class="panel_button" onclick="hide_arg_panel();">
                    <img src="{{close_svg}}">
                    <label>Close</label>
                </button>
                <button id="args_form_reset_button" class="panel_button" onclick="reset_arg_form();">
                    <img src="{{refresh_svg}}">
                    <label>Reset</label>
                </button>
                <button id="regenerate_harmony_on_panel" class="panel_button">
                    <img src="{{light_bulb_svg}}">
                    <label>Regenerate</label>
                </button>
            </div>
        </div>
    </div>
    <div id="regenerate_hint_panel" hidden>
        <p id="regenerate_hint">Generating...</p>
    </div>
</body>

</html>