<!DOCTYPE html>
<html>
<head>
<title>Reharmonizer</title>
<script src="{{second_js_url}}"></script>
</head>
<body>

<h1>Reharmon!zer</h1>
<p>音檔已經處理完成，你可以預覽、下載這邊的東東，或是選擇重新配和聲</p>
<div>
    <p>音檔預覽：</p>
    <input type="checkbox" id="original_audio_checkbox" checked>
    <label for="original_audio">原音檔</label>
    <input type="checkbox" id="melody_audio_checkbox" checked>
    <label for="melody">旋律</label>
    <input type="checkbox" id="harmony_audio_checkbox" checked>
    <label for="harmony">和聲</label>
    <input type="button" id="get_mixed_audio_btn" value="生成">
    <br>
    <audio id="mixed_audio_ctrlr" controls></audio>
    <p id="audio_waiting_hint" hidden>waiting audio...</p>
    <button type="button" id="dl_mixed_audio_btn">下載音檔</button>
</div>
<div>
    <button type="button" id="melody_midi_dlbtn">下載旋律midi</button>
    <button type="button" id="harmony_midi_dlbtn">下載和聲midi</button>
</div>
<div>
    <p>和弦表</p>
    <div id="chord_list" style="height: 200px;width: 100px;overflow-y: scroll;"></div>
</div>
<div>
    <button type="button" id="back_last_page_btn">回到上一頁</button>
    <button type="button" id="regenerate_harmony">重新生成和聲</button>
</div>


</body>
</html> 